header{
    display: flex;
    justify-content:space-between;
    padding: 1.5rem;
    font-weight: 700;
    font-size:2rem;
    background: var(--background-color);
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
}
button{
    border: none;
    background: transparent;

font-size: 1.5rem;
}
