*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{

    background-color:#FAFAFA;
    --color:#000000;
}
   
body{
    font-family: 'Inter', sans-serif;
    background-color: var(background-color);
    color: var(--color);
}
main{padding:8rem 0 5rem 0;
}